@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap);
/* 

  smartphones, touchscreens

*/
@media (hover: none) and (pointer: coarse) {
  .only-mobile {
    display: block;
  }
  .only-computer {
    display: none;
  }
}

/*

  mouse, touch pad

*/
@media (hover: hover) and (pointer: fine) {
  .only-mobile {
    display: none;
  }
  .only-computer {
    display: block;
  }
}
@keyframes appear-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
:root {
  --color-1: #ff7f11;
  --color-2: #000000;
  --color-3: #f0eff4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--color-3);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-2);
}

/* 

    SCENE 1

*/
#lighter {
  position: absolute;
  display: none;

  width: max(20vw, 20vh);
  height: max(20vw, 20vh);
  background: radial-gradient(#222, #000);
  border-radius: 50%;
  filter: blur(5px);

  transform: translate(-50%, -50%);
}
#lighter.active {
  display: block;
  animation: appear-animation .3s;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
}

.scene1 {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100vh;
}
.scene1 h1, .scene1 > p {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: max(12vw, 8vh);
  font-weight: bold;
  color: var(--color-2);

  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.scene1 > p {
  top: auto;
  bottom: 7%;

  font-size: max(3vw, 3vh);
}
.scene1 > p::before {
  content: '';
  position: absolute;
  top: max(3vw, 3vh);
  left: 50%;

  width: 36px;
  height: 36px;
  background-color: transparent;
  border-right: 8px #000 solid;
  border-bottom: 8px #000 solid;

  transform: translateX(-50%) rotate(45deg);
}
.scene1 .info-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  outline: none;

  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px var(--color-3) solid;
  border-radius: 50%;
  
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}
.scene1 .info-btn:focus {
  color: var(--color-1);
}
.scene1 .info-btn:focus ~ .info-block,
.scene1 .info-btn:hover ~ .info-block {
  opacity: 1;
}
.scene1 .info-block {
  position: absolute;
  top: 24px;
  right: 72px;
  opacity: 0;

  padding: 12px;
  border: 1px var(--color-3) solid;
  border-radius: 12px;

  font-size: 16px;
  color: var(--color-3);

  transition: 0.3s;
}
.scene1 .info-block p {
  color: var(--color-3);
}

/* 

    SCENE 2

*/
.scene2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 7vh 7vw;
  min-height: 100vh;
}
.scene2 article {
  padding: 12px;
}
.scene2 article:first-of-type {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scene2 article:first-of-type .only-computer {
  padding: 12px;
  border-left: 1px solid var(--color-3);
}
.scene2 article:first-of-type .only-computer p {
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: bold;
  line-height: calc(3vw + 10px);
}
.scene2 article:nth-of-type(2) {
  padding: 0 24px;
  border-bottom: 1px solid var(--color-3);
}
.scene2 article:nth-of-type(2) img {
  margin-bottom: -6px;
}
.scene2 .meta-info h2 {
  text-transform: uppercase;
  font-size: max(3vw, 3vh);
  letter-spacing: 10px;
}
.scene2 .meta-info p {
  font-size: 20px;
}
