@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap');

:root {
	--color-1: #ff7f11;
	--color-2: #000000;
	--color-3: #f0eff4;
	--color-4: #757575;

	--scrollbar-size: 6px;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font-family: 'Nunito', sans-serif;
	color: var(--color-3);
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Nunito Sans', sans-serif;
}

a {
	text-decoration: none;
}

html {
	overflow-y: overlay;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
	margin: calc(4 * var(--scrollbar-size)) 0;
	-webkit-border-radius: calc(2 * var(--scrollbar-size));
	border-radius: calc(2 * var(--scrollbar-size));
	box-shadow: inset 0 0 var(--scrollbar-size) #f0eff433; 
}

::-webkit-scrollbar-thumb {
	background: var(--color-1);
	-webkit-border-radius: calc(2 * var(--scrollbar-size));
	border-radius: calc(2 * var(--scrollbar-size));
}

::selection {
	background: var(--color-1);
}

body {
	background-color: var(--color-2);
}

.scene {
	position: relative;

	width: 100%;
	min-height: 100vh;
	padding: 0 4vw;
}

.scene-title {
	font-size: 3vw;
	text-transform: uppercase;
	letter-spacing: 0.732vw;
}

.important {
	padding: 0 4px;
	border-radius: 6px;

	color: var(--color-1);

	transition: background-color .3s, color .3s;
}

.important:hover {
	background-color: var(--color-1);

	color: var(--color-3);
}

.secondary {
	color: var(--color-4);
}

.arrow-down {
	--size: 1vw;

	width: var(--size);
	height: var(--size);

	filter: invert(1);
}