/* 

	smartphones, touchscreens

*/
@media (hover: none) and (pointer: coarse) {
	.only-mobile {
		display: block;
	}

	.only-desktop {
		display: none;
	}
}

/*

	mouse, touch pad

*/
@media (hover: hover) and (pointer: fine) {
	.only-mobile {
		display: none;
	}

	.only-desktop {
		display: block;
	}
}

/*

	1024- px

*/
@media (max-width: 1024px) {
	* {
		-webkit-tap-highlight-color: transparent;
	}

	.maw1024 {
		display: block;
	}

	.miw1024 {
		display: none;
	}



	.arrow-down::after,
	.arrow-down::before {
		border-radius: 1px;
	}

	.arrow-down::before {
		top: 62%;
	}



	.scene {
		min-height: auto;
	}

	.scene-title {
		font-size: 6vw;
		letter-spacing: 2vw;
	}

	.main-title {
		margin-top: 5vh;
		padding: 1.7569vw 0.2928vw;

		font-size: 10vw;
		text-align: center;
	}



	.scene2 {
		flex-direction: column-reverse;
		justify-content: space-around;

		padding: 2vh 6vw;
	}

	.scene2 article:first-of-type {
		height: auto;
	}

	.scene2 article:nth-of-type(2) img {
		width: 60vw;
	}

	.scene2 .meta-info p {
		font-size: 4.854vw;
		line-height: 7.7669vw;
	}

	.scene2 .scene-title {
		margin: 6vw 0 2vw 0;
	}



	.scene3 {
		padding: 2vh 6vw;
	}

	.scene3 h2.scene-title {
		text-align: left;
	}

	.scene3 .skill-grid {
		grid-template-columns: 1fr;

		padding: 0;
	}

	.scene3 .skill-grid .skill-grid__column:not(:first-child) {
		border-left: none;
		border-top: 1px var(--color-3) solid;
	}

	.scene3 .skill-grid .skill-grid__column {
		padding: 2vh 0;
	}

	.scene3 .skill-grid .skill-grid__column .skill-grid__column-title {
		text-align: right;
		font-size: 5.1vw;
	}

	.scene3 .skill-grid .skill-grid__column .skill-grid__list {
		padding: 1vh 0 0 0;

		font-size: 3.883vw;
	}




	.scene4 .project {
		grid-template-columns: 1fr 18vw;
	}

	.scene4 h2.scene-title {
		text-align: left;
	}

	.scene4 .project h3 {
		margin: 1vw 0 2.5vw 0;

		font-size: 5.1vw;
	}

	.scene4 .project a {
		margin-bottom: 1.5vw;
	}

	.scene4 .project,
	.scene4 .project a {
		font-size: 3.883vw;
	}

	.scene4 .project .date .small {
		font-size: 3.5vw;
	}

	.scene4 .project .date .arrow-down {
		--size: 6vw;

		margin: 2vw auto;
	}



	footer {
		min-height: 50vw;
		margin-top: 20vw;
	}

	footer .cube-wrapper {
		--size: 11.65vw;
	}

	footer .cube, .cube div {
		font-size: 3.8834vw;
	}

	footer h3 {
		margin-top: 2vw;

		font-size: 4.854vw;
	}
}

/*

	1024+ px

*/
@media (min-width: 1025px) {
	.miw1024 {
		display: block;
	}

	.maw1024 {
		display: none;
	}
}