.scene.scene3 {
	min-height: auto;
}

.scene3 .skill-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	padding: 5vh 0;
	height: 100%;
}

.scene3 .skill-grid .skill-grid__column:not(:first-child) {
	border-left: 1px var(--color-3) solid;
}

.scene3 .skill-grid .skill-grid__column .skill-grid__column-title {
	font-size: 1.5vw;
	text-align: center;
}

.scene3 .skill-grid .skill-grid__column .skill-grid__list {
	list-style: none;

	padding: 4vh 2vw;

	font-size: 1.3177vw;
}